<% include ../layouts/head %>

<div class="p-login">
    <div class="p-login__form">
        <form>
            <div class="form-group">
                <label>Your username</label>
                <input name="" class="form-control" placeholder="Username" type="text">
            </div> <!-- form-group// -->
            <div class="form-group">
                <a class="float-right" href="#">Forgot password?</a>
                <label>Your password</label>
                <input class="form-control" placeholder="Password" type="password">
            </div> <!-- form-group// -->
            <div class="form-group">
            <div class="checkbox">
              <label> <input type="checkbox"> Remember me</label>
            </div> <!-- checkbox .// -->
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
            </div> <!-- form-group// -->
        </form>
    </div>
</div>

<% include ../layouts/foot %>